<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>마이 페이지</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../../static/products/styles.css" rel="stylesheet" />
</head>
{% extends 'base.html' %}
{% block content %}
<body>
    <h1>마이 페이지입니다.</h1>
    <p>Email: {{ email }}</p>
    <p>Username: {{ username }}</p>
    <a href="{% url 'update_profile' %}" class="btn btn-primary">Edit Profile</a>
</body>
{% endblock %}
</html>
